SYNOPSIS                   *python_requirements_info*

     • Get info about available Python requirements on the target host, including listing required libraries and gathering versions.
     • This module was called python_requirements_facts before Ansible 2.9. The usage did not change.

   Aliases: python_requirements_facts

PARAMETERS                   *python_requirements_info-parameters*

    Parameter   Choices/Defaults                                                                               Comments
   dependencies                  A list of version-likes or module names to check for installation. Supported operators: <, >, <=, >=, or ==. The bare module name like ansible, the module with a
   -                             specific version like boto3==1.6.1, or a partial version like requests>2 are all valid specifications.

EXAMPLES                   *python_requirements_info-examples*

 - name: show python lib/site paths
   python_requirements_info:
 - name: check for modern boto3 and botocore versions
   python_requirements_info:
     dependencies:
     - boto3>1.6
     - botocore<2

RETURN VALUES                   *python_requirements_info-return values*

   Common return values are documented here, the following are the fields unique to this module:

          Key         Returned                                                                              Description
   mismatched                  A dictionary of dependencies that did not satisfy the desired version
   dictionary         always   Sample:
                               {'botocore': {'desired': 'botocore>2', 'installed': '1.10.60'}}
   not_found                   A list of packages that could not be imported at all, and are not installed
   dictionary         always   Sample:
                               ['boto4', 'requests']
   python                      path to python version used
   string             always   Sample:
                               /usr/local/opt/[email protected]/bin/python2.7
   python_system_path          List of paths python is looking for modules in
   list               always   Sample:
                               ['/usr/local/opt/[email protected]/site-packages/', '/usr/lib/python/site-packages/', '/usr/lib/python/site-packages/']
   python_version              version of python
   string             always   Sample:
                               2.7.15 (default, May 1 2018, 16:44:08) [GCC 4.2.1 Compatible Apple LLVM 9.1.0 (clang-902.0.39.1)]
   valid                       A dictionary of dependencies that matched their desired versions. If no version was specified, then desired will be null
   dictionary         always   Sample:
                               {'boto3': {'desired': None, 'installed': '1.7.60'}, 'botocore': {'desired': 'botocore<2', 'installed': '1.10.60'}}

STATUS                   *python_requirements_info-status*

     • This module is not guaranteed to have a backwards compatible interface. [preview]
     • This module is maintained by the Ansible Community. [community]

     • Will Thames (@willthames)
     • Ryan Scott Brown (@ryansb)

   Hint

   If you notice any issues in this documentation, you can edit this document to improve it.

   ══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════════

MORE INFO                          *python_requirements_info-moreinfo*
>
All arguments are omni-completed, but if you really want to see the online docs:
https://docs.ansible.com/ansible/latest/modules/python_requirements_info_module.html
